/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Lora');

.form-div {
  margin: 100px auto 100px;
  padding: 25px 25px 24px 5px;
  border: 1px solid #80ced7 ;
  border-radius: 0.7px;
  font-size: 1.2em;
  font-family: 'Lora', serif;

}
.from-control:focus{
	box-shadow: none;
}

form p {
	font-size:.89em;
}

.form-div.login{
	margin-top:100px;
}
.logout{
	color: red;
}